{% for group in groups %}
<div class = "row">
  <h3>Article cluster {{loop.index}}</h3>
</div>
<div class="row">
  <div class="col-md-6">
    <b>Top:</b>
  </div>
  <div class="col-md-6">
    <a role="button" type="button" class="collapse-toggle" data-toggle="collapse" href="#additional{{loop.index}}" aria-expanded="false" aria-controls="additional{{loop.index}}" ><div class="text-right collapse-toggle">[Expand]</div></a>
  </div>
</div>
    {% for item in group %}
    {% if item['source-rank'] == 0 and item['group-rank'] < group.cutoff %}
    <div class="row"><a href = "{{item.link}}">{{ item.title }}</a> - {{item.timestamp}} - {{item.array_agg}}</div>
      {% endif %}
    {% endfor %}
    <div class="collapse" id="additional{{loop.index}}">
      <div class="row">
        <b>Rest:</b>
      </div>
    {% for item in group %}
    {% if item['source-rank'] > 0 or item['group-rank'] >= group.cutoff %}
    <div class ="row"><a href = "{{item.link}}">{{ item.title }}</a> - {{item.timestamp}} - {{item.array_agg}}</div>
      {% endif %}
    {% endfor %}
    <br>
    </div>

{% endfor %}
