{% import "entry.html" as entry %}
{% for group in groups %}
<div class = "row">
  <h4>Article cluster {{loop.index}}</h4>
</div>
<div class="row">
  <div class="col-md-6">
    <b>Top:</b>
  </div>
  <div class="col-md-6">
    <a href = "related.html?id={{group.id}}&page=10&perpage=0"><div class="text-right">[Search Related]</div></a>
    <a role="button" type="button" class="collapse-toggle" data-toggle="collapse" href="#additional{{loop.index}}" aria-expanded="false" aria-controls="additional{{loop.index}}" ><div class="text-right collapse-toggle">[Expand]</div></a>
  </div>
</div>
    {% for item in group['articles'] %}
      {% if item['source-rank'] == 0 and item['group-rank'] == 0 %}
        {{ entry.article_entry_em(item) }}
      {% endif %}
    {% endfor %}
    {% for item in group['articles'] %}
      {% if item['source-rank'] == 0 and item['group-rank'] < group.cutoff and item['group-rank'] > 0 %}
        {{ entry.article_entry(item) }}
      {% endif %}
    {% endfor %}
    <div class="collapse" id="additional{{loop.index}}">
      <div class="row">
        <b>Rest:</b>
      </div>
    {% for item in group['articles'] %}
      {% if item['source-rank'] > 0 or item['group-rank'] >= group.cutoff %}
        {{ entry.article_entry(item) }}
      {% endif %}
    {% endfor %}
    <br>
  </div>

{% endfor %}
